[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["echo 'Build timestamp: 2026-02-17' && npm run build:coolify"]

[start]
cmd = "npx serve docs -s -l 3000 --no-clipboard"

